body{
    background-image: url(img2.JPG);
    height: 100%;
    width: auto;
    background-size: 1600px;
    background-position-x:-100px ;
    background-position-y: -200px;
}
.main-nav{
    float:right;
    list-style: none;
}
.main-nav li{
    display: inline-block;
}
.main-nav li a {
    color:white;
    text-decoration: none;
    font-family:"Roboto",sans-serif;
    font-size: 15px; 
    padding-bottom: -1000px;
}

#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
    padding-left: 350px;
    padding-top: 40px;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #be4eb9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color:#be4eb9;
    border: 1px solid #be4eb9;
}
h1{
    font-family:"Roboto",sans-serif;
    text-align: center;
    font-size:x-large
}
b{
    color: #7c2575;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
